:host {
  display: block;
}

ion-button {
  margin-top: 0;
  margin-bottom: 0;
}

.middle {
  display: table-cell;
  margin-top: auto;
  margin-bottom: auto;
}

.gap {
  width: 15px;
}


ion-item {
  --min-height: 0;
}
